################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.github/copilot-instructions.md
/.vs
/MiniSplitwise/.vs
/MiniSplitwise/.github
